/* CSS Document */

@import "core.css";
@import "header-core.css";
@import "menus.css";
@import "printing.css";
/**
 ** Header colors and backgrounds
 **/



/**
 ** Main section
 **/

#header #resources,
#header #resources a:visited,
#header #resources a:link {
	color: #cf932b;
}
#header #resources ul.link-list li {
	border-left-color: #815A1B;
}

#navmenus li a:visited,
#navmenus li a:link,
#navmenus li div.menu {
	color: #e5b054;
}
#navmenus li.menu:hover,
#navmenus li a.menu:hover {
	background-image: url(../framework-images/header/orange/main-middle-nav-hover.gif);
}

#header #main {
	background-color: #9a6a16;
	background-image: url(../framework-images/header/orange/main-middle-center.gif);
}
#header .main-right {
	background-image: url(../framework-images/header/orange/main-middle-right.gif);
}




/**
 ** Breadcrumb bar
 **/

#breadcrumb,
#breadcrumb a:visited,
#breadcrumb a:link {
	color: #fff;
}
#breadcrumb .sep,
#breadcrumb .current {
	color: #ddd;
}

#breadcrumb .middle-right {
	background-image: url(../framework-images/header/orange/breadcrumb-middle-right.gif);
}
#breadcrumb .middle-center {
	background-color: #e5a330;
	background-image: url(../framework-images/header/orange/breadcrumb-middle-center.gif);
	border-color: #d8a142;

}
#breadcrumb .bottom-left {
	background-image: url(../framework-images/header/orange/breadcrumb-bottom-left.gif);
}
#breadcrumb .bottom-right {
	background-image: url(../framework-images/header/orange/breadcrumb-bottom-right.gif);
}
#breadcrumb .bottom-center {
	background-image: url(../framework-images/header/orange/breadcrumb-bottom-center.gif);
}
