<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Disclaimer</title>
        <link href="framework-css/blue-page.css" rel="stylesheet" type="text/css" />
        <!--[if lt IE 7]>
	        <link href="framework-css/ie6-fixes.css" rel="stylesheet" type="text/css" />
            <![endif]-->
        <script type="text/javascript" src="framework-javascript/core.js"></script>
        <script language="javascript" type="text/javascript">
            <!--
                updateCourseView();
                setLastViewedPage(1);
              -->
        </script>

        <link rel="start" href="frontpage.html" title="Course front page" />
        <link rel="index" href="courseindex.html" title="Course index" />
        <link rel="glossary" href="glossary/index.html" title="Glossary" />
        <link rel="appendix" href="references.html" title="References" />
        <link rel="help" href="framework-docs/somehelpdoc.html" title="Help" />
        <link rel="up" href="frontpage.html" title="Course front page" />

    </head>
    <body id="coursemap" onload="initializeCourseIndexPage();">
        <a tabindex="1" href="#content" class="accesshide"><img src="framework-images/accessibility/1px.gif" alt="Skip to main content of page" border="0" /></a>
        <div id="page">
            <div id="header">
                <div class="main-right">
                    <div id="main">

                        <div class="left">
                            <img src="framework-images/header/blue/logo-active.gif" name="logo" width="125" height="75" border="0" usemap="#logoMap" id="logo" alt="Link to front page" />
                            <map name="logoMap" id="logoMap">
                                <area shape="poly" coords="10,37,14,26,26,17,43,11,64,9,84,11,101,17,113,26,117,37,113,48,101,57,84,63,64,65,43,63,26,57,14,48,10,37,10,37" tabindex="4" href="frontpage.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('logo','','framework-images/header/blue/logo-hover.gif',1)" alt="Link to front page" />
                            </map>
                        </div>

                        <div class="right">
                            <img src="framework-images/header/blue/nav-button-coursemap-selected.gif" name="nav_coursemap" width="56" height="60" border="0" id="nav_coursemap" alt="Course map view" />
                            <img src="framework-images/header/blue/nav-button-courseindex-active.gif" name="nav_courseindex" width="57" height="60" border="0" id="nav_courseindex" usemap="#m_navbuttoncourseindex" alt="Course index view" /><map name="m_navbuttoncourseindex" id="m_navbuttoncourseindex">
                                <area shape="circle" coords="30,30,25" tabindex="2" href="courseindex.html" onclick="setCourseView('courseindex')" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('nav_courseindex','','framework-images/header/blue/nav-button-courseindex-hover.gif',1)" alt="Switch to course index view" />
                            </map>
                        </div>

                        <div class="center">
                            <div id="resources">
	                            <h2 class="accesshide">Resource links</h2>
	                            <ul class="link-list">
		                            <li class="first">
			                            <a href="glossary/index.html" title="Links to a glossary of terms used in the course">Glossary</a>
			                            <span class="accesshide">/ </span>		</li>
		                            <li><a href="references.html" title="Links to a list of references that appear in the course">References</a></li>
	                            </ul>
                            </div>

                            <div id="nav"></div>
                        </div><!-- class="center" -->
                    </div><!-- id="main" -->
                </div><!-- class="main-right" -->

                <div id="breadcrumb">
	                <div class="middle-right">
	                    <div class="middle-center">
	                        <h2 class="accesshide">You are here</h2>
	                        <ul class="link-list">
		                        <li><a href="frontpage.html" title="Links to the front page">Home</a></li>
		                        <li class="current">
			                        <span class="accesshide">/ </span>
			                        <span class="sep">&#x25BA;</span>
			                        Disclaimer</li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="bottom-left">
	                    <div class="bottom-right">
	                        <div class="bottom-center"></div>
	                    </div>
	                </div>
                </div>
            </div><!-- id="header" -->

            <div id="page-body">
                <div class="top-left"><div class="top-right"><div class="top-center"></div></div></div>
                <div class="middle-left"><div class="middle-right"><div class="middle-center">

                            <h1 class="main">Disclaimer</h1>
                            <div id="content">
  <p>The PEVE Unit (School of Computer Science, University of Manchester)
  makes every effort to ensure that all information is accurate at the
  time the CBT material is compiled. However, PEVE cannot accept
  responsibility for errors with the text or other media provided as part
  of this CBT package. </p>
  <p>&nbsp;</p>
  <div class="shadedbox" style="padding: 0px 10px 10px 10px">
  <h2 align="center"><font face="Times New Roman, Times, serif">Licence Agreement</font></h2>
  <p><font face="Times New Roman, Times, serif"><strong>1. Software.</strong> This
      CBT package, all associated documents, scripts and programs (henceforth
      the &quot;Software&quot;) are &copy; Copyright
 2006 PEVE<em><sub>IT</sub></em> Unit, The University of Manchester. All rights
 reserved. 
Unauthorised alteration, distribution or reverse engineering of the Software
  is strictly prohibited.</font></p>
  <p><font face="Times New Roman, Times, serif"><strong>2. Usage. </strong>You may not use the Software, or any part of the same, for any
    other 
  purpose other than that given in this documentation without the express 
  written permission of the University of Manchester.</font></p>
  <p><font face="Times New Roman, Times, serif"><strong>3. Restrictions.</strong> You may
      not reduce the Software to human readable form, 
      reverse engineer, de-compile, or disassemble the Software, except and only
    to the extent that such activity is expressly permitted by applicable law
    notwithstanding this limitation. You may not rent, lease, or lend the 
      Software. </font></p>
  <p><font face="Times New Roman, Times, serif"><strong>4. Termination.</strong> This license terminates if you fail to comply with its terms
    and conditions. If your license terminates, you must destroy all copies of
    the Software. The termination of this license does not limit the 
  University of Manchester's other rights it may have by law.</font></p>
  <p><font face="Times New Roman, Times, serif"><strong>5. Copyright.</strong> You acknowledge that you have only the limited, non-exclusive
    right to use and copy the Software as expressly stated in this license and
    that the University of Manchester retains all other rights. You agree not
    to remove or modify any copyright, trademark or other proprietary notices
    which appear in the Software. The Software is protected by UK copyright 
  law and international treaty provision.</font></p>
  <p><font face="Times New Roman, Times, serif"><strong>6. Export Restrictions.</strong> You agree that you will not export or re-export
    the 
  Software to any country, person, entity, or end user subject to UK export 
  restrictions.</font></p>
  <p><font face="Times New Roman, Times, serif"><strong>7. Third-party websites.</strong> Some
      CBT packages may also feature links to third-party websites. These links
      are used to provide further information and are not intended to signify
      that we endorse such websites and/or their content. We take no responsibility
      for any loss or damage suffered as a result of using the linked websites
      or as a result of using the information published on any of the pages of
      the linked websites. </font></p>
  <p><font face="Times New Roman, Times, serif"><strong>8. NO WARRANTIES.</strong> The
      Software is provided &quot;as is&quot; without warranty
    of any 
  kind, either express or implied, including, without limitation, the 
  implied warranties of merchantability, fitness for a particular purpose, 
  or non-infringement. The Software is provided with all faults and the 
  entire risk as to satisfactory quality, performance, accuracy and effort 
  is with you.</font></p>
  <p><font face="Times New Roman, Times, serif"><strong>9. LIMITATION OF LIABILITY.</strong> The University of Manchester is not liable to
    you 
  for any consequential, special, incidental, or indirect damages of any kind
    arising out of the delivery, performance, or use of the Software, even if
    the University of Manchester has been advised of the possibility of such
    damages. Whilst every effort is made to ensure downloadable content is free
  from viruses, we cannot accept any liability for damages resulting from
  virus infection. </font></p>
  <p><font face="Times New Roman, Times, serif"><strong>10. Acknowledgement of
        copyrights and trademarks.</strong> The software refers to
  third party products and services which may be the subject of trademarks,
  registered trademarks or copyrights. This notice, and references in the
  Software, does not imply that they are free or that the owners of the
  trademarks, registered trademarks or copyrights approve or endorse the
  Software. All copyrights and trademarks, including but not limited to 
  those listed below, are acknowledged.</font></p>
  <blockquote>
    <p><font face="Times New Roman, Times, serif"> Windows is a trademark or
        registered trademark of Microsoft Corporation in the United States and
        other countries.</font></p>
    <p><font face="Times New Roman, Times, serif"> Java is a trademark or registered trademark of Sun Microsystems, Inc.
        in the United States and other countries. </font></p>
    <p><font face="Times New Roman, Times, serif"> This product contains files generated by Adobe (formerly Macromedia) Flash.</font></p>
  </blockquote>

                            </div><!-- id="content" -->
                            <div class="clearer"></div>
                        </div><!-- id="middle-center" --></div><!-- id="middle-right" --></div><!-- id="middle-left" -->
                <div class="middle-left"><div class="middle-right"><div id="backtotop" class="middle-center">
                            <a href="#page">Back to top</a>
                </div></div></div>

                <div class="bottom-left"><div class="bottom-right"><div class="bottom-center"></div></div></div>
            </div><!-- id="page-body" -->

            <div id="footer">
                <h2 class="accesshide">Footer links</h2>
                <ul class="link-list">
                    <li class="first">
                        <strong>&copy;</strong>
                        <script type="text/javascript" language="javascript">
                            <!--
	                            writeCurrentYear();
                              -->
                        </script>
                        <noscript>2007</noscript>
                        <a target="_blank" href="http://www.manchester.ac.uk/">University of Manchester</a>, version: ***version***
                    </li>
                    <li><a href="ape.html">About APEcs</a></li>
                    <li><a href="privacy.html">Privacy and Cookies Policy</a></li>
                    <li><a href="disclaimer.html">Disclaimer</a></li>
                    <li><a href="feedback.html">Feedback &amp; Support</a></li>
                </ul>
            </div><!--footer-->
        </div><!-- id="page" -->
    </body>
</html>
