<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Browser compatibility checks</title>
        <link href="framework-css/blue-page.css" rel="stylesheet" type="text/css" />
        <!--[if lt IE 7]>
	        <link href="framework-css/ie6-fixes.css" rel="stylesheet" type="text/css" />
            <![endif]-->

        <script type="text/javascript" src="framework-javascript/core.js"></script>
        <script type="text/javascript" src="framework-javascript/swfobject.js"></script>
        <script type="text/javascript" src="framework-javascript/browserchecks.js"></script>

        <link rel="start" href="frontpage.html" title="Course front page" />
        <link rel="index" href="courseindex.html" title="Course index" />
        <link rel="glossary" href="glossary/index.html" title="Glossary" />
        <link rel="appendix" href="references.html" title="References" />
        <link rel="help" href="framework-docs/somehelpdoc.html" title="Help" />

    </head>
    <body id="frontpage" onload="formatBackToTopLink();">
        <a tabindex="1" href="#content" class="accesshide"><img src="framework-images/accessibility/1px.gif" alt="Skip to main content of page" border="0" /></a>
        <div id="page">
            <div id="header">
                <div class="main-right">
                    <div id="main">

                        <div class="left">
                            <img src="framework-images/header/blue/logo-active.gif" alt="PEVE IT logo" name="logo" width="125" height="75" border="0" id="logo" /></div>

                        <div class="center">
                            <div id="resources">
	                            <h2 class="accesshide">Resource links</h2>
	                            <ul class="link-list">
		                            <li class="first">
			                            <a href="glossary/index.html" title="Links to a glossary of terms used in the course">Glossary</a>
			                            <span class="accesshide">/ </span>		</li>
		                            <li><a href="references.html" title="Links to a list of references that appear in the course">References</a></li>
	                            </ul>
                            </div>

                            <div id="nav"></div>
                        </div><!-- class="center" -->
                    </div><!-- id="main" -->
                </div><!-- class="main-right" -->

                <div id="breadcrumb">
	                <div class="middle-right">
	                    <div class="middle-center">
	                        <h2 class="accesshide">You are here</h2>
	                        <ul class="link-list">
		                        <li class="current">Home</li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="bottom-left">
	                    <div class="bottom-right">
	                        <div class="bottom-center"></div>
	                    </div>
	                </div>
                </div>
            </div><!-- id="header" -->

            <div id="page-body">
                <div class="top-left"><div class="top-right"><div class="top-center"></div></div></div>
                <div class="middle-left"><div class="middle-right"><div class="middle-center">

                            <h1 class="main">PEVE Computer Based Training - Browser compatibility checks</h1>
                            <div id="content">
	                            <script language="JavaScript1.2" type="text/javascript">
	                                <!--
	                                    runBrowserChecks();
	                                    //-->
	                            </script>
	                            <noscript>
		                            <h2>PLEASE NOTE: Javascript is not enabled in your browser </h2>
		                            <div class="shadedbox">
		                                <p>Your browser either does not support Javascript 1.2 or you have disabled the Javascript facility in your browser. Although Javascript is not required, this CBT package makes use of it to provide users with a number of helpful extra features such as  remembering the last course page you looked at. Javascript is also used to check that your browser meets all the necessary system requirements. In the absence of Javascript to perform these checks for you, please make sure that your browser meets the <a href="framework-docs/systemrequirements.html">minimum system requirements</a>. </p>
		                            </div>
	                            </noscript>
                            </div><!-- id="content" -->
                            <div class="clearer"></div>
                        </div><!-- id="middle-center" --></div><!-- id="middle-right" --></div><!-- id="middle-left" -->
                <div class="middle-left"><div class="middle-right"><div id="backtotop" class="middle-center">
                            <a href="#page">Back to top</a>
                </div></div></div>

                <div class="bottom-left"><div class="bottom-right"><div class="bottom-center"></div></div></div>
            </div><!-- id="page-body" -->

            <div id="footer">
                <h2 class="accesshide">Footer links</h2>
                <ul class="link-list">
                    <li class="first">
                        <strong>&copy;</strong>
                        <script type="text/javascript" language="javascript">
                            <!--
	                            writeCurrentYear();
                              -->
                        </script>
                        <noscript>2007</noscript>
                        <a target="_blank" href="http://www.manchester.ac.uk/">University of Manchester</a>
                    </li>
                    <li><a href="peve.html">About PEVE</a></li>
                    <li><a href="privacy.html">Privacy and Cookies Policy</a></li>
                    <li><a href="disclaimer.html">Disclaimer</a></li>
                    <li><a href="feedback.html">Feedback &amp; Support</a></li>
                </ul>
            </div><!--footer-->
        </div><!-- id="page" -->
    </body>
</html>
