<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Privacy and Cookies Policy</title>
        <link href="framework-css/blue-page.css" rel="stylesheet" type="text/css" />
        <!--[if lt IE 7]>
	        <link href="framework-css/ie6-fixes.css" rel="stylesheet" type="text/css" />
            <![endif]-->
        <script type="text/javascript" src="framework-javascript/core.js"></script>
        <script language="javascript" type="text/javascript">
            <!--
                updateCourseView();
                setLastViewedPage(1);
              -->
        </script>

        <link rel="start" href="frontpage.html" title="Course front page" />
        <link rel="index" href="courseindex.html" title="Course index" />
        <link rel="glossary" href="glossary/index.html" title="Glossary" />
        <link rel="appendix" href="references.html" title="References" />
        <link rel="help" href="framework-docs/somehelpdoc.html" title="Help" />
        <link rel="up" href="frontpage.html" title="Course front page" />

    </head>
    <body id="coursemap" onload="initializeCourseIndexPage();">
        <a tabindex="1" href="#content" class="accesshide"><img src="framework-images/accessibility/1px.gif" alt="Skip to main content of page" border="0" /></a>
        <div id="page">
            <div id="header">
                <div class="main-right">
                    <div id="main">

                        <div class="left">
                            <img src="framework-images/header/blue/logo-active.gif" name="logo" width="125" height="75" border="0" usemap="#logoMap" id="logo" alt="Link to front page" />
                            <map name="logoMap" id="logoMap">
                                <area shape="poly" coords="10,37,14,26,26,17,43,11,64,9,84,11,101,17,113,26,117,37,113,48,101,57,84,63,64,65,43,63,26,57,14,48,10,37,10,37" tabindex="4" href="frontpage.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('logo','','framework-images/header/blue/logo-hover.gif',1)" alt="Link to front page" />
                            </map>
                        </div>

                        <div class="right">
                            <img src="framework-images/header/blue/nav-button-coursemap-selected.gif" name="nav_coursemap" width="56" height="60" border="0" id="nav_coursemap" alt="Course map view" />
                            <img src="framework-images/header/blue/nav-button-courseindex-active.gif" name="nav_courseindex" width="57" height="60" border="0" id="nav_courseindex" usemap="#m_navbuttoncourseindex" alt="Course index view" /><map name="m_navbuttoncourseindex" id="m_navbuttoncourseindex">
                                <area shape="circle" coords="30,30,25" tabindex="2" href="courseindex.html" onclick="setCourseView('courseindex')" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('nav_courseindex','','framework-images/header/blue/nav-button-courseindex-hover.gif',1)" alt="Switch to course index view" />
                            </map>
                        </div>

                        <div class="center">
                            <div id="resources">
	                            <h2 class="accesshide">Resource links</h2>
	                            <ul class="link-list">
		                            <li class="first">
			                            <a href="glossary/index.html" title="Links to a glossary of terms used in the course">Glossary</a>
			                            <span class="accesshide">/ </span>		</li>
		                            <li><a href="references.html" title="Links to a list of references that appear in the course">References</a></li>
	                            </ul>
                            </div>

                            <div id="nav"></div>
                        </div><!-- class="center" -->
                    </div><!-- id="main" -->
                </div><!-- class="main-right" -->

                <div id="breadcrumb">
	                <div class="middle-right">
	                    <div class="middle-center">
	                        <h2 class="accesshide">You are here</h2>
	                        <ul class="link-list">
		                        <li><a href="frontpage.html" title="Links to the front page">Home</a></li>
		                        <li class="current">
			                        <span class="accesshide">/ </span>
			                        <span class="sep">&#x25BA;</span>
			                        Privacy and Cookies Policy</li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="bottom-left">
	                    <div class="bottom-right">
	                        <div class="bottom-center"></div>
	                    </div>
	                </div>
                </div>
            </div><!-- id="header" -->

            <div id="page-body">
                <div class="top-left"><div class="top-right"><div class="top-center"></div></div></div>
                <div class="middle-left"><div class="middle-right"><div class="middle-center">

                            <h1 class="main">Privacy and Cookies Policy</h1>
                            <div id="content">
<h2>Introduction</h2>
  <p>Whilst using this CBT package, the pages you see, along with a short text
  file called a 'cookie', are downloaded to your computer (or simply
  'loaded' if you are accessing them from a local copy on your computer).
  Many websites do this, because cookies enable web publishers to do
  useful things like find out whether the computer (and probably its
  user) has visited certain pages before. This is done on a repeat visit
  by checking to see, and finding, the cookie left there on the last
  visit. </p>
  <p>Information supplied by cookies can help us to provide you with a
  better online user experience by providing additional features in the
  CBT package. For example: a cookie is used to record the last viewed page so
  when you close your browser and return, you can have the option of
  going straight to where you left off. </p>
  <h2>What is a cookie? </h2>
  <p>A cookie is a small amount of data, which often includes an
  anonymous unique identifier that is sent to your browser from the place
  where the webpages are loaded from and stored on your computer's hard
  drive. Each website can send its own cookie to your browser if your
  browser's preferences allow it, but (to protect your privacy) your
  browser only permits a web site to access the cookies it has already
  sent to you, not the cookies sent to you by other sites. </p>
  <p>Many sites do this whenever a user visits their website in order to
  track online traffic flows. </p>
  <p> Users have the opportunity to set their computers to accept all
  cookies, to notify them when a cookie is issued, or not to receive
  cookies at any time. The last of these, of course, means that certain
  personalised services cannot then be provided to that user and
  accordingly you may not be able to take full advantage of certain
  features. Each browser is different, so check the "Help" menu of your
  browser to learn how to change your cookie preferences. </p>
  <p>If you have set your computer to reject cookies you can still use
  this CBT package without any problems. For further information on cookies
  please visit <a href="http://www.aboutcookies.org/" target="_blank">http://www.aboutcookies.org/</a>.
  </p>
  <h2> List of cookies used in this CBT package </h2>
  <p>This is a list of the cookies that this sets, and what each is used
  for: </p>
  <table cellspacing="8" style="border: 2px solid #CCCCCC;">
    <tbody>
      <tr>
        <th>Cookie name </th>
        <th>Purpose</th>
      </tr>
      <tr>
        <td valign="top"><font face="Courier New, Courier, mono">lastpage</font></td>
        <td>When ever you visit a CBT package course content page, the page
  address you have visited is stored in this cookie. If you close your
  browser and return, on the CBT package front page your will see an option to
"Return to Last Viewed Page". </td>
      </tr>
      <tr>
        <td valign="top"><font face="Courier New, Courier, mono">themeviewtype</font></td>
        <td>Used to store the last view type for presenting the modules
  contained in a theme, <em>i.e.</em> either the "Map" view or the
"Index" view. Each time you view the modules for a theme it will be in
  this last view type format. </td>
      </tr>
    </tbody>
  </table>

                            </div><!-- id="content" -->
                            <div class="clearer"></div>
                        </div><!-- id="middle-center" --></div><!-- id="middle-right" --></div><!-- id="middle-left" -->
                <div class="middle-left"><div class="middle-right"><div id="backtotop" class="middle-center">
                            <a href="#page">Back to top</a>
                </div></div></div>

                <div class="bottom-left"><div class="bottom-right"><div class="bottom-center"></div></div></div>
            </div><!-- id="page-body" -->

            <div id="footer">
                <h2 class="accesshide">Footer links</h2>
                <ul class="link-list">
                    <li class="first">
                        <strong>&copy;</strong>
                        <script type="text/javascript" language="javascript">
                            <!--
	                            writeCurrentYear();
                              -->
                        </script>
                        <noscript>2007</noscript>
                        <a target="_blank" href="http://www.manchester.ac.uk/">University of Manchester</a>, version: ***version***
                    </li>
                    <li><a href="peve.html">About PEVE</a></li>
                    <li><a href="privacy.html">Privacy and Cookies Policy</a></li>
                    <li><a href="disclaimer.html">Disclaimer</a></li>
                    <li><a href="feedback.html">Feedback &amp; Support</a></li>
                </ul>
            </div><!--footer-->
        </div><!-- id="page" -->
    </body>
</html>
